{% extends "baseTemplate.html" %}
{% from "_formHelpers.html" import render_field %}
{% block title %} {{ title }} {% endblock %}
{% block maincontent %}

<div class="card" style="width:fit-content;">

    <div class="card-header"> 
        <h1>Newsletters </h1>
    </div>

    <div class="card-body-fluid" style="margin:bottom-5px">
        <table class = "table table-striped table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th> Id </th>
                    <th> Title </th>
                    <th> </th>
                <tr> 

            </thead>
            {% for letter in list_of_newsletters %}  
                <tr> 
                    <td> {{ letter.id }} </td>
                    <td> {{ letter.title }} </td>
                    <td>
                        <a href="{{ url_for('newsletter.newsletter', id=letter.id )  }}"><i class='bx bx-glasses'></i></a>
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                </tr>
            </tfoot>

        </table>
        
    </div>
</div>

{% endblock %}
