{% extends "baseTemplate.html" %}
{% from "_formHelpers.html" import render_field %}
{% block title %} {{ title }} {% endblock %}
{% block maincontent %}
<nav>
  <div class="buttons">
    <button type="button" class="btn btn-danger newLetterButton">
      <a href="{{ url_for('newsletter.adminNewsletter') }}">
        <i class='bx bx-message-add'></i>
        Newsletters</a>
    </button>
  
    <button type="button" class="btn btn-danger newLetterButton">
      <a href="##">
        <i class="bi bi-basket"></i>
        Products</a>
    </button>
  </div>
</nav>
<br/>
<br/>
<h3 class="adminh3">
  Välkommen till din Admin Dashboard
</h3>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, alias nobis a quaerat quas quia consequatur explicabo maxime sed odio repellendus? Similique ullam accusantium consequatur repellendus autem eos aliquid iste ratione dolorem ex, numquam soluta quisquam odio eveniet maxime molestiae rem quam possimus voluptatem laudantium? Ab, animi eius repudiandae repellat iure quo! Quod expedita a similique perspiciatis culpa? Natus maiores consectetur fugit officiis aut iure libero, praesentium dolorem optio quod recusandae repellat totam architecto, eius eos delectus. Doloribus at eius omnis illo nesciunt dicta asperiores aperiam commodi placeat soluta autem aut eveniet deserunt ea sequi, enim, et nulla velit fugiat.
</p>

{% endblock %}
