{% extends "baseTemplate.html" %}
{% from "_formHelpers.html" import render_field %}
{% block title %} {{ title }} {% endblock %}
{% block maincontent %}
<h3 class="adminh3">
  Välkommen till din Admin Dashboard
</h3>

<div class="buttons">
  <button type="button" class="btn btn-danger newLetterButton">
    <a href="{{ url_for('newsletter.new_newsletter') }}">
      <i class='bx bx-message-add'></i>
      Nytt Nyhetsbrev</a>
  </button>

  <button type="button" class="btn btn-danger newLetterButton">
    <a href="{{ url_for('newsletter.send_newsletter') }}">
      <i class='bx bx-mail-send'></i>
      Skicka Nyhetsbrev</a>
  </button>
</div>


<table class="table border border-secondary border-2">
  <thead class="customThead">
    <tr>
      <th scope="col">
        <i class="bi bi-123"></i>
        Id</th>
      <th scope="col">
        <i class="bi bi-body-text"></i>
        Newsletter Text</th>
      <th scope="col">
        <i class="bi bi-card-text"></i>
        Newsletter Title</th>
    </tr>
  </thead>
  <tbody>
    {% for letter in newsletters %}
    <tr>
      <td><strong>{{ letter.id }}</strong></td>
      <td><a href="{{ url_for('newsletter.listLettersById', id=letter.id) }}">{{ letter.text }}</a></td>
      <td>{{ letter.title }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock %}

